<header class="subnav-hero-section">
  <h1 class="subnav-hero-headline"></h1>
  <img id="pokemon-image" src="assets/img/pokelogo.png">
</header>

<div class="grid-container">
  <div class="row">
    <div class="columns">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title"><img src="assets/img/pokerules.png" class="indexpng center"></a>
          <div class="accordion-content" data-tab-content>
          <img src="assets/img/rulesbox.png" class="center" id="rules-box">
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title"><img src="assets/img/pokecharttitle.png" class="indexpng center"></a>
          <div class="accordion-content" data-tab-content>
            <img src="assets/img/pokechart.png" class="center">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<input type="image" src="/assets/img/pokemon-ball.png" id="generate-second-page">

<script src="/assets/js/index.js"></script>