{{!-- <h1> PokéBattle! </h1>

<h1>Poke Poke</h1> --}}
{{!-- <ul class="menu align-center">
  <li><a href="#">One</a></li>
  <li><a href="#">Two</a></li>
  <li><a href="#">Three</a></li>
  <li><a href="#">Four</a></li>
</ul> --}}

{{!-- <form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label><h3> Enter a Trainer name to begin</h3>
          <input type="text" placeholder="Trainer Name"/>
        </label>
      </div>
    </div>
  </div>
</form> --}}

{{!-- <a href="/pokemon">Back to main</a> --}}


<div class="card" style="width: 70%;">
  <div class="card-divider">
      <img src="assets/img/pokelogo.png">
  </div>
  <div class="card-section">
    <h4>This is a card.</h4>
    <p>It has an easy to override visual style, and is appropriately subdued.</p>
  </div>
</div>