{{!-- <h1> PokéBattle! </h1>

<h1>Poke Poke</h1> --}}

{{!-- <form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label><h3> Enter a Trainer name to begin</h3>
          <input type="text" placeholder="Trainer Name"/>
        </label>
      </div>
    </div>
  </div>
</form> --}}

{{!-- <a href="/pokemon">Back to main</a> --}}

  {{!-- <ul class="subnav-hero-subnav">
  </ul> --}}
</header>

{{!-- <div class="card-section"> --}}

  <a href="/pokemon"><img alt="pokemon ball" src="/assets/img/pokemon-ball.png" id="generate-second-page"></img></a>
{{!-- 
<div class="card" style="width: 70%;">
  <div class="card-divider">
      <img src="assets/img/pokelogo.png">
  </div>
  <div class="card-section">
    <h1>Poke Poke</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore voluptate vero dolorum, cumque sed cum esse, eum quasi exercitationem molestias, atque totam voluptates deserunt molestiae nesciunt quo. Ea, commodi sunt!</p>  </div>
</div> --}}
{{!-- <a href="/pokemon">Pokémon</a> --}}