<div class="grid-container">
  <div class="row">
    <div class="columns">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title"><img src="assets/img/pokerules.png" class="indexpng center"></a>
          <div class="accordion-content" data-tab-content>
          <img src="assets/img/fixedRules.png" class="center" id="rules-box">
          
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title"><img src="assets/img/pokecharttitle.png" class="indexpng center"></a>
          <div class="accordion-content" data-tab-content>
            <img src="assets/img/pokechart.png" class="center">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<p></p>
  <h4 align="center">Click the Pokéball to get a Pokémon</h4>
  <img alt="pokemon ball" src="/assets/img/pokemon-ball.png" id="pokeball" class="pokeBall">
