{{!-- <h1 align="center">These are all the users to loop through</h1> --}}
<p></p>
<h1 align="center"> Battle Results </h1>  {{!--inserted from results.html--}}
 {{!--inserted from results.html--}}

<h3 align="center" id="winningPokemon"> The winner is:</h3>
<h3 align="center" id="userWhoWon">Username: </h3>
<h3 align="center" id="userHighScore"></h3>




<a href="/" align="center" id="return-main"><img alt="pokemon ball" src="/assets/img/pokemon-ball.png" class="pokeBall"></img></a>

<script src="/assets/js/results.js"></script>