/* elements */

/* h1 {
    color: red;
} */

/* classes */
.subnav-hero-section {
background-color: #CC0000;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.indexpng {
    width: 7%;
  }
/* ids */

#pokemon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#generate-second-page {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none
}
